#root
{color:white; width: auto; height: 2000px; 
align-content: center;
padding: 20px; font-size: 20px;  border-radius: 10px; margin-top: 15px; 
margin-left:10px;margin-right:10px; background-image: url("../src/images/unsplash.jpg" );
background-attachment: fixed;background-size: cover;background-clip: inherit;background-position:center;}
 .header{text-align: center;font-size: xx-large;}
  