#root
{color:hsl(0, 0%, 20%); display: flex;flex-direction: column;
        
        height: 2000px; margin: 10px; font-size:24px; text-align: center;
    
        background-image: url("../src/images/unsplash.jpg" );
        background-attachment: fixed;background-size:100% 100%;
        background-clip: inherit;background-position:center
        ;width: 100% ;background-repeat: no-repeat;}
 .header{text-align: center;font-size: xx-large;}
  